dashscope==1.13.6
langchain==0.0.354
langchain-experimental==0.0.47
PyJWT==2.8.0
PyJWT==2.8.0
PyYAML==6.0.1
PyYAML==6.0.1
Requests==2.31.0
transformers==4.36.2
torch~=2.1.2
torchvision~=0.16.2
torchaudio~=2.1.2
xformers==0.0.23.post1
gradio==4.16.0